# {{ ansible_managed }}
# {{ instance }} conf file

{% if redis_conf_include != None %}
include {{ redis_conf_include }}
{% endif %}
{% if redis_conf_loadmodule != None %}
loadmodule {{ redis_conf_loadmodule }}
{% endif %}

{% for item in (__redis_combined_conf[instance] | dictsort(by='key')) %}{% set key = item[0] %}{% set value = item[1] %}
{%   if value != None %}
{%     if value is iterable and value is not string %}
{%       for inValue in value %}
{{         key }} {{ inValue }}
{%       endfor %}
{%     else %}
{{       key }} {{ value }}
{%     endif %}
{%   endif %}
{% endfor %}
